@using Microsoft.AspNetCore.Http;
@using SocialNetwork.Core.Application.Dtos.Account;
@using SocialNetwork.Core.Application.Helpers;
@using SocialNetwork.Core.Application.ViewModels.Friend;
@using SocialNetwork.Core.Application.ViewModels.Publications;
@model AddFriendViewModel
@inject IHttpContextAccessor httpContextAccessor
@{
    var User = httpContextAccessor.HttpContext.Session.Get<AuthenticationResponse>("user");
    var isAdmin = User != null ? User.Roles.Any(r => r == "Admin") : false;
    var isBasic = User != null ? User.Roles.Any(r => r == "Basic") : false;
    Model.UserName = User.UserName;
    List<FriendViewModel> friendList = new();
}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="fw-bold">Add a Friend</h1>
        </div>
        <div class="card-body">

            <form method="post" asp-controller="Friend" asp-action="Add">

                <div class="mb-3">
                    <label asp-for="Name" class="form-label"> </label>
                    <input type="text" asp-for="FriendID" class="form-control" hidden />
                    <input type="text" asp-for="UserName" class="form-control" />

                </div>

                <input asp-for="UserID" value=@User.Id type="hidden" />
                <input asp-for="ID" value=@User.Id type="hidden" />

                <button type="submit" class="btn btn-outline-success">Save</button>
            </form>
        </div>
    </div>
</div>

@foreach (FriendViewModel item in friendList)
{
    <div class="card">
        <div clas="card-header fw-bold"> Users</div>

        <div class="card-body">
            <p>@item.UserName</p>
            <a asp-controller="Publication" asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.ID">Delete</a>
        </div>
    </div>
    
}
@if (ViewBag.Friends == null || ViewBag.Friends.Count == 0)
{
    <h1 class="fw-bold"> There are no publications available</h1>
}
else
{
    @foreach (FriendsPublicationViewModel item in ViewBag.Friends)
    {
        if (item.ImagePath == null)
        {
          
                <div class="card mb-3 align-self-auto mx-auto" style="max-width: 500px; max-height: 500px;">
                    <div class="card-header">
                        <img class="rounded-circle" src="@item.ImagePath" style="max-width: 60px; max-height: 60px;">
                        <div class="btn-group-sm" role="group" aria-label="Buttons">
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@item.UserName</h5>
                        <p class="card-text">@item.Content</p>
                        <p class="card-text"><small class="text-muted">@item.PublishDate</small></p>
                    </div>
                    <div class="card-footer flex items-center">
                        <div class="row ">
                            <img src="@item.ImagePath" class="col-4 img-thumbnail mr-2" style="max-width: 60px; max-height: 60px;" />
                            <p class="card-text col-8">this is a coment</p>
                        </div>
                        <div class="w-8 h-8 bg-blue-500"></div>
                    </div>
                </div>
            
        }
        else
        {
            <div class="card mb-3 align-self-auto mx-auto" style="max-width: 500px; max-height: 500px;">
                <img class="rounded-circle" src="@item.ImagePath" style="max-width: 60px; max-height: 60px;">

                <img src="@item.PublicationImagePath" class="card-img-top" alt="..." style="max-width: 100px; max-height: 100px;">
                <div class="card-body">
                    <div class="btn-group-sm" role="group" aria-label="Buttons">
                    </div>
                    <h5 class="card-title">@item.UserName</h5>
                    <p class="card-text">@item.Content</p>
                    <p class="card-text"><small class="text-muted">@item.PublishDate</small></p>
                </div>
                <div class="card-footer flex items-center">
                    <div class="row ">
                        <img src="@item.ImagePath" class="col-4 img-thumbnail mr-2 rounded-circle" style="max-width: 60px; max-height: 60px;" />
                        <p class="card-text col-8">This is a comment</p>
                    </div>
                    <div class="w-8 h-8 bg-blue-500"></div>
                </div>
            </div>
        }
    }

}


@* @foreach (var comment in friednsPublications.Comments)
{
    <div class="col-12 mb-3">
        <div class="comment">
            <div class="user-avatar">
                <img src="@comment.PhotoUrl" class="rounded-circle img-avatar" />
            </div>
            <div class="comment-content">
                <strong> @comment.UserName</strong>
                <p>@comment.Content</p>
            </div>
        </div>
    </div>
}
                    </div>


<div class="row mb-3">
    <div class="col-12">
        <div class="input-group">
            <div class="input-group-append">
                <form method="post" asp-controller="Comments" asp-action="Create" asp-route-userid="@friends.FriendId" asp-route-publicationsid="@friednsPublications.Id">
                    <input asp-for="@friednsPublications.Comment" name="content" type="text" class="form-control mb-3" placeholder="Escriba su comentario" />
                    <button type="submit" class="btn btn-primary btn-edit">
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div> *@